* {
    font-family: 'ff-scala-sans-pro', sans-serif;
}

.content-wrapper {
    margin: 0 auto;
    /* max-width: 800px; */
    padding: 10px 36px;

}

h1, h2, h3 {
    font-style: normal;
    font-weight: 700;
}

h1 {
    font-size: 64px;
    line-height: 40px;
    letter-spacing: -0.768px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

h3 {
    margin: 0;
    padding: 0;
    font-size: 36px;
}

#service-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.service-nav__button {
    margin: 0;
    padding: 12px;
    flex: 1;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    border: 1px solid #E4E4E7;
    background: #FFF;
    cursor: pointer;
}

.service-nav__button:hover {
    border-color: #105EDA;
}

.service-nav__button--selected {
    border-color: #105EDA;
}

.service-nav__button div img {
    width: 64px;
}

#alert-list {
    margin: 0;
    padding: 24px 36px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    background: #FFF;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.10);
}

#status__nav {
    display: flex;
    flex-direction: row;
    gap: 48px;
    font-weight: bold;
    margin: 12px 0;
}

.status-nav__button {
    margin: 0;
    padding: 8px;
    cursor: pointer;
}

.status-nav__button:hover {
    background-color: #105EDA;
    color: #fff;
}

.status-nav__button--selected {
    color: #105EDA;
    border-bottom: 2px solid #105EDA;
}

#alert-list__content  {
}

.alert-item {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    border-bottom: 1px solid #F3F3F3;
    gap: 12px;
}

.alert-item__icon {

}

.alert-item__icon--rail {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 72px;
}

.alert-item__icon--rail img {
    width: 60px;
}

.alert-item__icon--bus div {
    text-align: center;
    font-size: 48px;
    font-family: "urw-din", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 8px;
    background-color: #E28B41;
    color: #fff;
    padding: 0 12px;
    /* width: 34px; */
}

.alert-item__icon--access div {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    border-radius: 8px;
    background-color: #5BC2E7;
    color: #fff;
    padding: 0 8px;
    width: 34px;
}

.alert-item__content {
}

.alert-item__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
}

.alert-item__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    line-height: 36px;
    color: #595959;
}

.alert-item__status div {
    padding: 16px;
    font-weight: bold;
    font-size: 28px;
    overflow: auto;
}

.alert-item__status--ongoing {
    border-radius: 4px;
    background: rgba(94, 171, 113, 0.12);
    color: #5EAB71;
    line-height: 20px;
}

.alert-item__status--upcoming {
    border-radius: 4px;
    background: rgba(253, 185, 18, 0.12);
    color: #FDB912;
    line-height: 20px;
}

/* Breakpoints for standard screen sizes */
@media only screen and (max-width: 599px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media only screen and (min-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media only screen and (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */ 
}