html, body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin: 0 auto;
    padding: 24px 34px;
}

.content-wrapper>div {
    margin-bottom: 12px;
}

#alert-list {
    margin: 0;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    background: #FFF;
    box-shadow: 0px 20px 25px 0px rgba(76, 103, 100, 0.10);
}

.alert-item {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
    border-bottom: 1px solid #F3F3F3;
    gap: 12px;
}

.alert-item__icon--rail {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.alert-item__icon--rail img {
    width: 32px;
}

.alert-item__icon--bus div {
    font-family: "urw-din", sans-serif;
    font-size: 1.5rem;    
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 1.3rem;
    border-radius: 8px;
    background-color: #E28B41;
    color: #fff;
    padding: 8px;
    /* width: 34px; */
}

.alert-item__icon--access div {
    text-align: center;
    border-radius: 8px;
    background-color: #5BC2E7;
    color: #fff;
    padding: 4px;
    width: 32px;
    display: flex;
}

.alert-item__icon--access img {
    max-width: 100%;
}

.alert-item__content {
    flex: 1;
}

.alert-item__title {
    font-family: 'ff-scala-sans-pro', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
}

.alert-item__description {
    font-family: 'open-sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #595959;
}

.alert-item__status div {
    font-family: 'ff-scala-sans-pro', sans-serif;
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.6rem;
    padding: 4px 6px;
    overflow: auto;
}

.alert-item__status--current {
    border-radius: 4px;
    background: rgba(94, 171, 113, 0.12);
    color: #5EAB71;
    line-height: 20px;
}

.alert-item__status--upcoming {
    border-radius: 4px;
    background: rgba(253, 185, 18, 0.12);
    color: #FDB912;
    line-height: 20px;
}

/* Breakpoints for standard screen sizes */
@media only screen and (max-width: 599px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media only screen and (min-width: 600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media only screen and (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */ 
}